body {
  width: 95%;
  padding: 2%;
  background-color: #262626;
}

.container {
  width: 99%;
  display: flex;
  justify-content: space-between;
}

.textContainer {
  flex: 8;
  color: #ffffff;
}

.title,
.text {
  margin: 0;
  font-size: 4em;
}

.paragraph {
  font-size: 1.5em;
}

.langContainer {
  display: flex;
  flex: 1.5;
  flex-direction: column;
}

.langButton {
  margin-top: 10px;
  border: none;
  background-color: #ffffff00;
  width: 70px;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  .textContainer {
    padding: 20px 40px;
  }

  .title,
  .text {
    font-size: 2em;
  }

  .paragraph {
    font-size: 1em;
  }

  .langContainer {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }

  .langButton {
    width: 50px;
  }
}
